html,
body{
    position: relative;
    height: 100%;
}
body{
    background-color: #4A163C;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.swiper{
    width: 100%;
    padding: 150px 0 70px 0;
}

.swiper-slide{
    width: 300px;
    height: 500px;
    background-color: #741B31;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #ffb900;
}

.icons img {
    width: 100px;
}

.product-content {
    display: flex;
    justify-content: space-between;

}
.product-txt{
    flex-basis: 50%;
    text-align: left;
}
.product-txt span {
    font-size: 25px;
    color: #ffb900;
    font-weight: bold;
}
.product-txt h3 {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #c4c4c4;
}
.product-img{
    flex-basis: 50%;
    text-align: right;
    margin-left: 13px;
    margin-top: -30px ;
}

.product-img img {
    width: 200px;
    border-radius: 5px;
}
.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #ffb900;  
    border-radius: 25px;
    color: #ffb900;
    text-decoration: none;
    margin-top: 50px;
}


.card {
    width: 280px;
    height: 280px;
    background: #4A163C;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #4A163C 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
    stroke: #D36424;
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    stroke: #EEBB10;
  }
  
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid #D36424;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: #D36424;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: #EEBB10;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button-cont {
    background: white;
    color: #D36424;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card .bottom .bottom-bottom button-cont:hover {
    background: #EEBB10;
    color: white;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 7px solid #D36424;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }

.contaiener{
    width: 50%;
    margin: auto;
}

.card{
    
    width: 50%;
    margin: auto;
}
.contenedor{
    margin-top: 20px;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: transparent;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  transform: scaleY(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    #ffb900 10.8%,
    rgb(214, 99, 5) 94.3%
  );
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:active {
  scale: 0.9;
}

.conten-button{
  margin-top: 170px;
}
.product-img{
  position: relative;
}
.product-img::before{
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(145, 0, 0, 0.5); 
  transform: scaleY(1); 
  transform-origin: top; 
  transition: transform 0.5s ease; 
  border-radius: 5px;
}
.product-img:hover::before{
  transform: scaleY(0);
}
.product-img img{
  width: 200px;
  height: auto;
}

.img-s{
  width: 500px;
  height:50px;
}

@media(max-width:991px){

  .about-me p{
    font-size: 6px;
    margin-bottom: 25px;
  }
}